<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NULL PHOTO</title>
    <link rel="shortcut icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/faq.css">
</head>
<body>
<!-- Main -->
<header th:replace="/index.html :: header">
</header>
<div id="FAQ_wrap">
    <div id="FAQ_inner">
        <!-- Elements -->
        <div class="FAQ_title">
            <h1>F A Q</h1>
        </div>
        <!-- Table -->
        <h3><a href="/faq/write">글 등록</a></h3>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr class="tHead">
                    <th class="boardBno">번호</th>
                    <th class="boardTitle">제목</th>
                    <th class="boardWriter">작성자</th>
                    <th class="boardRegisterDate">작성일</th>
                    <th class="boardUpdateDate">수정일</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="board:${boards}">
                    <tr th:object="${board}">
                        <td class="boardBno" th:text="*{boardNumber}"></td>
                        <td class="boardTitle"><a class="goRead" th:text="*{boardTitle}" th:href="@{/faq/read(boardNumber=*{boardNumber})}"></a></td>
                        <td class="boardWriter" th:text="*{boardWriter}"></td>
                        <td class="boardRegisterDate" th:text="*{boardRegisterDate}"></td>
                        <td class="boardUpdateDate" th:text="*{boardUpdateDate}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <!--<div th:object="${pageDTO}">
                <form action="/board/list" name="searchForm" th:object="${criteria}">
                    <div class="fields">
                        <div class="field">
                            <div id="searchWrap">
                                <select name="type">
                                    <option value="">검색 기준</option>
                                    <option value="TCW" th:selected="*{type} == 'TCW'">전체</option>
                                    <option value="T" th:selected="*{type} == 'T'">제목</option>
                                    <option value="C" th:selected="*{type} == 'C'">내용</option>
                                    <option value="W" th:selected="*{type} == 'W'">작성자</option>
                                    <option value="TC" th:selected="*{type} == 'TC'">제목 또는 내용</option>
                                    <option value="TW" th:selected="*{type} == 'TW'">제목 또는 작성자</option>
                                    <option value="CW" th:selected="*{type} == 'CW'">내용 또는 작성자</option>
                                </select>
                                <input type="text" name="keyword" th:value="*{keyword}">
                                <a href="" class="search button primary icon solid fa-search">검색</a>
                            </div>
                        </div>
                    </div>
                </form>-->
            <div th:object="${pagination}">
                <div style="text-align: center">
                    <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code><</code></a>
                    <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                        <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                    </th:block>
                    <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
                </div>
                <!--<div class="small-width" style="text-align: center; height: 27px;">
                    <a class="changePage" th:href="*{criteria.pageNum - 1}" th:if="*{criteria.pageNum > 1}"><code>&lt;</code></a>
                    <code th:text="*{criteria.pageNum}"></code>
                    <a class="changePage" th:href="*{criteria.pageNum + 1}" th:if="*{criteria.pageNum < realEnd}"><code>&gt;</code></a>
                </div>-->
                <form action="/faq/list" name="pageForm" th:object="${criteria}">
                    <input type="hidden" th:field="*{page}">
                    <input type="hidden" th:field="*{amount}">
                    <!--<input type="hidden" th:field="*{type}">
                    <input type="hidden" th:field="*{keyword}">-->
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/index.html :: footer">
</footer>
</body>
<!-- Scripts -->

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
    let boardNumber = [[${boardNumber}]];
    let $pages = $("a.changePage");
    /*let queryString = [[${pagination.criteria.queryString}]];*/

    const $read = $("a.read");

    $("a.write").on("click", function(e){
        e.preventDefault();
        location.href = "/board/write";
    });

    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });

    $read.on("click", function(e){
        e.preventDefault();
        location.href = "/board/read" + queryString + "&boardNumber=" + $(this).attr("href");
    });

    $("a.write").on("click", function(e){
        e.preventDefault();
        location.href = "/board/write" + queryString;
    });




</script>
</html>