<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HERALD PHOTO</title>
    <link rel="shortcut icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:replace="/index.html :: header">
</header>
    <div id="FAQ_wrap">
        <div id="FAQ_inner">
    <!-- Table -->
    <h3><a href="/faq/list">목록 보기</a></h3>
    <div class="content">
        <div class="form">
            <form method="post" th:action="@{/faq/write}" id="writeForm" th:object="${board}">
                <div class="fields">
                    <div class="field">
                        <h4>제목</h4>
                        <input th:field="*{boardTitle}" placeholder="Title" type="text" />
                    </div>
                    <div class="field">
                        <h4>내용</h4>
                        <textarea th:field="*{boardContent}" rows="6" placeholder="Content" style="resize:none"></textarea>
                    </div>
                    <div class="field">
                        <h4>작성자</h4>
                        <input th:field="*{boardWriter}" placeholder="Writer" type="text" />
                    </div>
                </div>
                <div class="field">
                    <h4>첨부파일</h4>
                    <input type="file" name="uploadFiles" multiple>
                </div>
                <div class="field">
                    <div class="uploadResult">
                        <ul></ul>
                    </div>
                </div>
                <div class="bigPictureWrapper">
                    <div class="bigPicture"></div>
                </div>
                <ul class="actions special">
                    <li><input type="submit" class="button" value="등록" /></li>
                </ul>
            </form>
        </div>
    </div>
        </div>
    </div>
<footer th:replace="/index.html :: footer">
</footer>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    $("a.list").on("click", function (e){
       e.preventDefault();
       location.href = "/faq/list";
    });
</script>
</html>